* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  overflow-x: hidden;
  font-family: "Syne Mono", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0);
  background: linear-gradient(144deg, rgba(0, 0, 0, 1) 4%, rgba(26, 64, 61, 1) 49%, rgba(44, 106, 101, 1) 74%, rgba(74, 124, 120, 1) 93%);
}